.about {
    
}

.about__focus .article__text:nth-of-type(2){
    font-size: 1.25rem;
    font-weight: 600;
}

.about__beliefs {
    padding-left: 2rem;
    padding-right: 2rem;

    overflow-x: scroll;
}

.beliefs__list__wrapper {
    display: flex;
}

.beliefs__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    gap: 1.5rem;
    padding-right: 2rem;
}

.beliefs__list .card {
    max-width: 18ch;
    align-self: stretch;
    margin-bottom: 2rem;
    background-color: #F5F5F5;
    box-shadow: 0px 2px 6px 0px #0000001a;
}

.beliefs__list .card__body{
    text-align: center;
}

.beliefs__list .card__image,
.about__vision .card__image{
    position:relative;
    
    width:100%;
    max-width: unset;
    
    margin-bottom: 1rem;
}

.beliefs__list .card__image {
    height:150px;
}

.beliefs__list .article__title{
    font-size: 1.375rem;
    line-height: 1.56rem;

    font-weight: 600;
    margin-bottom: 1.5rem;
}

.beliefs__list .article__text {
    margin-bottom: 0rem;
}


@media (min-width: 900px){
    /* HERO */ 
    .about__hero{
        position:relative;
        display: block;

        height: calc(100vh - 80px);

        background-image: url('../assets/images/about_us/AboutUs_Banner.png');;
        background-size: cover;
        background-position: bottom left;
    }

    .about__hero .title {
        position: absolute;
        top:50%;
        left:10rem;

        transform: translateY(-50%);

        font-size: 3rem;
        font-weight: 600;
        line-height: 2.75rem;

        color:white;
        
        width: 15ch;
    }

    /* FOCUS */
    .about .article {
        align-items: center;
    }
    .about__focus .article__title {
        display:none;
    }

    /* SERVICES */
    .about__services .article {
        flex-direction: row-reverse;
    }

    /* BELIEFS */
    .about__beliefs, .beliefs__list_wrapper {
        margin-inline: -10rem;
        padding:unset;
    }

    .beliefs__list__wrapper{
        display:block;
        margin-inline: auto;
    }

    .beliefs__list {
        padding: unset;
        flex-wrap: wrap;
    }

    /* MISSION */
    .about__mission .article {
        flex-direction: row-reverse;
    }

    /* VISION */
    .about__vision .card {
        flex-direction: row;
        align-items: center;
        gap:2rem;
    }

    .about__vision .card__image {
        flex: 1 1 100%;
    }

    .about__vision .card__image img {
        height: 200px;
    }

    /* ABOUT-US */
    .about__about-us .article {
        flex-direction: row-reverse;
    }
}