.contact {
    background-image: url('../assets/images/home/home_hero_bg.png');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: top ;
}

@media (min-width:900px){
    .contact{
        background-size: 75%;
        background-position: right top;
    }

}