.home {
    background-image: url('../assets/images/home/home_hero_bg.png');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: top ;
}

.home__body {
}

.home__hero {
    margin-top: 1.5rem;
    height: 100vh;
}

/* BANNER DEFAULTS */
.banner .title {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.banner .detail {
    font-size: 1.375rem;
    font-weight: 400;
}

/* BANNER 1 */
.banner1__content {
    font-weight: 400;
    font-size: 1.5rem;
}

/* BANNER 2 */
.banner2 .banner__text.title{
    font-size: 1.5rem;
    line-height: 1.5rem;
    width:30ch
}

.banner2 .banner__item{
    display: flex;
    align-items: start;
    justify-items: end;
    
    gap: 1rem;

    margin-bottom: 1rem;
}

.banner2 .banner__item {
    position:relative;
}

.banner2 .banner__item:nth-of-type(2) {
    left: -1rem;
}

.banner2 .banner__logo img {
    position:relative;
    top: -1rem;
    height: 5rem;
    float:right;
}

/* BANNER 3 */
.banner3 .banner__logo {
    margin-bottom: 1rem;;
}

.banner3 .banner__logo img {
    max-width: 50%;
}


@media (min-width:900px){
    .home{
        background-size: 75%;
        background-position: right top;
    }
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
    }
    .banner__content{
        padding: 0;
        max-width: 15ch;
    }
    .banner3 .banner__content{
        padding: 0;
        max-width: 40%;
    }
    
    .banner__image img{
        max-height: 500px;
    }

    .banner2 .banner__item:nth-of-type(1) {
        left: 0rem;
    }

    .banner2 .banner__item:nth-child(2) {
        left: 2rem;
    }

}