.products__hero{
    position: relative;
    padding-bottom: 150px;
}

.products__hero::before {
    content: '';
    position:absolute;
    left:50%;
    bottom:0px;
    width:200%;
    height:200%;

    transform: translateX(-50%);
    z-index: -1;

    background-image: url('/src/assets/images/products/Fondo.jpg');
    background-origin: border-box;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

.products__hero .banner{
    transform: scale(100%);
}

.products__list .icon-item {
    margin-bottom: 2rem;
}

.products__business .icon-item {
    display: block;
}


.products__fees__cards {
    flex-wrap: wrap;
}

@media (min-width: 900px){

    .products__hero::before {
        content: '';
        position:absolute;
        left:50%;
        top:0;
        width:100vw;
        height: 100vh;

        transform: translateX(-50%);
        z-index: -1;

        background-image: url('/src/assets/images/products/Fondo.jpg');
        background-origin: border-box;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .products__hero {
        display:flex;
        gap: 1rem;
    }

    .products__hero>*{
        flex: 1 1 100%;
    }

    .products__hero .banner {
        order: 2;
        flex: 1 1 200%;
    }

    .products__list {
        margin-top: 5rem;
    }

    .products__list:nth-child(2) {
        order: 1;
        text-align: right;
    }
    .products__list:nth-child(2) .icon-item {
        flex-direction: row-reverse;
    }

    .products__list:nth-child(3) {
        order: 3;
    }

    /* ARTICLE PERSONAL */
    .personal__article {
        display: flex;
    }

    .products__personal .article__image img {
        position: absolute;
        left:0;
        top:0;
        transform: translate(0rem, -4rem);
    }
    
    /* ARTICLE BUSINESS */
    .products__business .article__items {
        display: flex;
        gap:3rem;
    }

    /* DEBIT CARD */    
    
    .products__debit-card .title {
        text-align: center;
    }

    .debit-card__wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .debit-card__wrapper>*{
        flex: 1 1 100%;
    }

    .debit-card__wrapper .debit-card__image {
        order: 2;
        flex: 1 1 100%;
    }

    .debit-card__wrapper .icon-item{
        margin-bottom: 2rem;
    }

    .debit-card__wrapper .list_items:nth-child(2) {
        order: 1;
        text-align: right;
    }
    .debit-card__wrapper .list_items:nth-child(2) .icon-item{
        flex-direction: row-reverse;
    }

    .debit-card__wrapper .list_items:nth-child(3) {
        order: 3;
    }

    /* FEES */
}