.debit-card {
    position: relative;

    background-size: 100% 100%;
    background-repeat: no-repeat;

    padding: 1.5rem;

    font-size: 1.125rem;
    font-weight: 500;

    width: 380px;
    height: 220px;
}

.debit-card__content {
    max-width: 20ch;
}

.debit-card__title {
    margin-bottom: .5rem;

    font-size: 1.375rem;
    font-weight: 600;
}

.debit-card--light {
    background-image: url('../assets/images/products/05.Fees/lightCard.png');
    color: black;
}

.debit-card--color {
    background-image: url('../assets/images/products/05.Fees/colorCard.png');
    color: white;
}