.icon-item {
    display: flex;
    align-items: flex-start;
    gap: 1.875rem;
    
    margin: 1rem 0;
}

.icon-item__title{
    font-size: 1.375rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.icon-item__description {
    font-size: 1.25;
}

.icon-item__icon {
    margin-bottom: .75rem;
}

.icon-item__icon .icon{
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
}