
.node__list:nth-of-type(0) .node__button{
    text-align: left;
}

.node__list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;

    width: 100%;
    margin-bottom: 1.25rem;
}

.node__item {
    flex: 1 0 20%;
}

.node__button {
    width: 100%;

    cursor: pointer;

    display:inline-block;
    vertical-align: middle;
    position: relative;

    padding:1rem;
    border-radius: 0.875rem;
    background-color: #E3D5FF;

    white-space: nowrap;
    text-align: center;
    font-size: 1.25rem;
    line-height:1.875;
    font-weight: 500;
}

.node__button span {
    position:relative;
    bottom: -0.125rem;
}

.node__detail {
    position:relative;
    top:-1rem;
    z-index: -1;
    
    padding: 2rem .875rem .25rem;
    border-end-end-radius: 1rem;
    border-end-start-radius: 1rem;

    background-color: #E2F5D4;
}

.active {
    background-color: #E3D5FF;
    box-shadow: 0px 2px 3px 0px #00000044;
}

.node__button:not(.active) {
    background-color: #F5F5F5;
    color: #B5B4B3;
}

.depth-1 .active {
    box-shadow: none;
}
.depth-1 .node__button {
    padding: 1rem 1rem;

    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: left;
}

.depth-2 .node__button:not(.active, .clickable) {
    background-color: #E3D5FF;
    color: initial;
}

.depth-2 .node__item { 
    flex: 0 1 200px;
}

.depth-2 .node__button {
    white-space:initial;
}