.footer {
    position:relative;
    padding-top: 200px;
}

.footer::before{
    content: '';
    position: absolute;
    left:50%;
    top:0;
    transform: translateX(-50%);

    height: 100%;
    width: 100vw;
    z-index: -1;

    background-image: linear-gradient(white, #E9E9E9 10%, white 20%);
    background-position: center top;
    background-size: cover;
}

.sitemap {
    font-weight: 600;
    margin-bottom: 2rem;
}

.sitemap nav {
    
}

.sitemap ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sitemap li{
    flex: 1 1 50%;
    display:inline;
    padding:.25rem 2rem;
}

.social {
    margin-bottom:2rem;
}

.social ul {
    display: flex;
    gap: .5rem;
}

.social__item {
    width:25px;
    height:25px;
}

.disclaimer {
    color: #707070;
    font-size: 1rem;
    margin-bottom: 4rem;
}

.footer__end .author__cite {
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: #8855E6;
}

.author__cite .cite {
    margin-bottom: 1.5rem;
}

.footer__end .author__cite{
    margin-bottom: 4rem;
}

.footer__end .logo_giveandget {
    width: 220px;
    margin-bottom:2rem;
}

.copyright {
    margin: 1rem 0;

    font-size: 0.875rem;
    font-weight: 500;
}

.copyright a{
    white-space: nowrap;
}


@media (min-width: 900px){
    .footer__sitemap-social {
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;

        padding-bottom: 2rem;
        margin-bottom: 4rem;
        border-bottom: 1px solid black;
    }

    .sitemap{
        flex-grow: 1;
        margin-bottom: 0px;
    }
    .social {
        margin-bottom: 0px;
    }

    .sitemap ul {
        justify-content: space-between;
    }

    .sitemap li {
        flex: initial;
        padding: initial;
    }

    .footer__end {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: start;
    }

    .author__cite {
        max-width: 30ch;
        flex: 1 1 25ch;
    }
}