header {
    display: flex;
    align-items: center;

    gap: 3rem;
}

.header__nav {
    flex-grow: 1;
}

.nav__links, .actions__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;

    padding-inline-start: 0;

    justify-content:space-evenly;
}

.nav__link {
    white-space: nowrap;
}

.nav__link .gradient-button {
    font-size: 1rem;
}

header ul a {
    font-weight: 600;
    color: black;
}

header .dropdown {
    display: none;
}

header .dropdown__list {
    width:100%;
    left: 0px;
}

header .dropdown__list ul {
    margin-top: 2rem;
}

/* On screens that are 992px or less, set the background color to blue */
/*
    xs < 576
    sm > 576
    s > 768
    lg > 992
    xl > 1200
    xxl > 1400
*/
@media screen and (max-width: 768px) {
    header nav{
        display : none;
    }

    header {
        justify-content: space-between;
    }

    header .dropdown {
        display: block;
    }
}
  