header {

}

.header--light p,
.header--light a {
    color:white;
}
.header--light p:hover,
.header--light a:hover {
    color:#eeeeee;
}

.header--color p,
.header--color a {
    color: initial;
}

.header--color p:hover,
.header--color a:hover {
    color: initial;
}

.header__nav {
    flex-grow: 1;
}

.nav__links, .actions__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1.5rem;

    padding-inline-start: 0;

    justify-content:start;
}

nav a {
    text-decoration: none;
    color: var(--clr-neutral-900);
}

.nav__link {
    white-space: nowrap;
}

header .dropdown {
    display: none;
}

header .dropdown__list {
    width:100%;
    left: 0px;
}

header .dropdown__list ul {
    margin-top: 2rem;
}

/* On screens that are 992px or less, set the background color to blue */
/*
    xs < 576
    sm > 576
    s > 768
    lg > 992
    xl > 1200
    xxl > 1400
*/
@media screen and (max-width: 768px) {
    header nav{
        display : none;
    }

    header {
        justify-content: space-between;
    }

    header .dropdown {
        display: block;
    }
}
  